*{
    margin: 0px;
    padding: 0px;
    
    box-sizing: border-box;  
}
/* logo header */
header{
  margin-bottom: 25px;
  padding-left: 2%;
}
.logo{
    height: 60px;
    width: auto;
    line-height: 80px;
    vertical-align: -20px;
}
.logo-text{
    font-size: 40px;

}
/*  corpo della pagina  */
.corpo{
    margin: 40px;
    padding: 40px;
    padding-left: 180px;
    box-sizing: border-box;
}

/* testi interattivi */

#task{
    background-color: #47adf1;
    
}