body{
    background-color: #47adf1;
   
}
*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}
/* logo header */
header{
   background-color: #dbf0fc;
   height: 80px;
   
   padding-left: 1%;
   font-family: Arial, Helvetica, sans-serif;
}
.logo{
    height: 60px;
    width: auto;
    line-height: 80px;
    vertical-align: -20px;
}
.logo-text{
    font-size: 40px;

}
/*  corpo della pagina  */

.corpo{
    width: 1800px;
    margin:  60px 220px;
    background-color:#dbf0fc;
    padding: 30px;
    border-radius: 10px;
    
}
/* testi interattivi */
.interact{
    width: 1600px;
    border-bottom: 1px solid black;
    
}
#task{
    
    background-color: #47adf1;
    border: #47adf1;
   padding: 12px;
    border-radius: 5px;
    color: #dbf0fc;
}
#section{
    
    padding: 10px;
    color: #c5cbd0;
}

/* Lista tasks */

.list{
    margin-top: 5%;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
/* lista tasks */

.arrow-up:before{
   content: "\25BC";
   font-size: small;
}
#arrow-down{

    padding-top: 5px;
}

#arrow-down:before{
   content:"\1F5F8" ;
   padding-right: 2px;
   color: #99d5e3;
  
   font-size: 20px;
   color: #6EBAA4;
   border-color: #6EBAA4;
   text-align: center;
   border: 1px solid  #6EBAA4;
   border-radius: 50%;

}
.edit{
    font-size: small;
    background-color: #47adf1;
    padding: 10px;
    border-radius: 50px;
    margin-left: 2%;
    
}

#recruiting{
    padding-top: 5px;
}
#recruiting:before{
    content:"\1F5F8" ;
    color: #99d5e3;
    font-size: 20px;
    color: #6EBAA4;
    border-color: #6EBAA4;
    text-align: center;
    border: 1px solid  #6EBAA4;
    border-radius: 50%;
}
#app{
    padding-top: 10px;
}
#app:before{
    content:"\1F5F8 ";
    color: #99d5e3;
    font-size: 20px;
    color: #6EBAA4;
    border-color: #6EBAA4;
    text-align: center;
    border: 1px solid  #6EBAA4;
    border-radius: 50%;
}
#interview{
    padding-top: 15px;
   padding-right: -80%;
} 
#interview:before{
    content:"\2717 ";
    color: #ed635b;
    font-size: 20px;
    border-color: #ed635b;
    text-align: center;
    border: 1px solid  #ed635b;
    border-radius: 50%;
}
#summit{
    padding-top: 15px; 
}
#summit:before{
    content:"\1F5F8";
    color: #99d5e3;
    font-size: 20px;
    border-color: #6EBAA4;
    text-align: center;
    border: 1px solid  #6EBAA4;
    border-radius: 50%;

}
#goals{
    font-size: small;
    background-color:#9c72e4;
    border-radius: 40px;
    padding: 10px;
    background-position: 20%;
    margin-left: 2%;
}
#rec{
    font-size: small;
    background-color:#64c0a9;
    border-radius: 40px;
    padding: 10px;
    background-position: 20%;
    margin-left: 2%;
}
#mobile{
    font-size: small;
    background-color:#f29e33;
    border-radius: 40px;
    padding: 10px;
    background-position: 20%;
    
    margin-left: 2%;
}
#schedule{
    padding-top: 10px; 
}
#schedule:before{
    content:"\2717 ";
    color: #ed635b;
    font-size: 20px;
    
    border-color:  #ed635b;
    text-align: center;
    border: 1px solid  #ed635b;
    border-radius: 50%;
}
    
#homepage{
    padding-top: 10px;
}
#homepage:before{
    content:"\1F5F8 ";
    color: #99d5e3;
    font-size: 20px;
    color: #6EBAA4;
    border-color: #6EBAA4;
    text-align: center;
    border: 1px solid  #6EBAA4;
    border-radius: 50%;
}
#website{
    font-size: small;
    background-color:#d863a1;
    border-radius: 40px;
    padding: 10px;
    background-position: 20%;
    margin-left: 2%;
    
}
#onboard{ 
    padding-top: 10px;
}
#onboard:before{
    content:"\1F5F8 ";
    color: #99d5e3;
    font-size: 20px;
    color: #6EBAA4;
    border-color: #6EBAA4;
    text-align: center;
    border: 1px solid  #6EBAA4;
    border-radius: 50%;
}
#sales{
    font-size: small;
    background-color:#b0c926;
    border-radius: 40px;
    padding: 10px;
    background-position: 20%;
    margin-left: 2%; 
}
#review{
    padding-top: 5px;  
}
#review:before{
    content:"\1F5F8 ";
    color: #99d5e3;
    font-size: 20px;
    color: #6EBAA4;
    border-color: #6EBAA4;
    text-align: center;
    border: 1px solid  #6EBAA4;
    border-radius: 50px;
}